@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

:root {
    --color-light: #F5CC3D;
    --name-font-size: 28px;
    --who-font-size: 27px;
    --font-family: Montserrat;
}

.anchor_link {
    width: 0px;
    height: 0px;
    line-height: 0px;
}

.main_section_text {
    font-family: MuseoModerno;
    font-size: 20px;
    text-align: center;
    font-family: 'MuseoModerno';
    letter-spacing: -0.01em;
}

html {
    scroll-behavior: smooth;
}

#svgcolorfill {
    fill: var(--color-light);
}

#svgcolorstroke {
    stroke: var(--color-light);
    stroke-width: 3px;
}

.link_without_enything {
    padding: 0px;
    margin: 0px;
}

.nav_link {
    color: #fff;
    text-decoration: none;
    padding: 20px;
}

.nav_link:hover {
    color: var(--color-light);
}

.nav_link:active {
    color: var(--color-light);
}

.whitetext {
    color: white;
    text-decoration: none;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}



@media (max-width:900px) {
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }

    a:active {
        color: var(--color-light)
    }

    .link_without_enything {
        padding: 0px;
        margin: 0px;
    }

    .navigation {
        display: none;
    }

    .whiteinmobile {
        color: #fff;
    }

    .container_head {
        text-align: center;
        max-width: 100%;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 1200px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
        color: #000;
    }





    .textmontserrat {
        font-size: 14px;
        font-family: Montserrat;
    }

    .whitetext {
        color: white;
        text-decoration: none;
    }


    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: block;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31);
        z-index: 999;
    }

    .header_right {
        width: 89px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        margin-right: 25px;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 53px;
        text-decoration: none;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        left: -50px;
        background-repeat: no-repeat;
    }

    .logo {
        width: 76px;
        margin-left: 2px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding: 20px 0 20px 0;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -55px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 20px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .drop-down-menu .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-radius: 20px;
    }

    .drop-down-menu li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: table;
        width: 100%;
        justify-content: space-around;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburgmenu {
        position: relative;
        display: block;
        padding: 20px 0 20px 0;
        z-index: 100;
        order: 2;
    }

    .gamburgmenu:hover .navigation,
    .gamburgmenu img:hover .navigation,
    .gamburgmenu:hover .navigation .gamburgmenu_drop,
    .gamburgmenu img:hover .navigation .gamburgmenu_drop {
        display: block;
        width: 204px;
    }

    .gamburgmenu_drop {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(245, 204, 61, 1);
        left: -105px;
        top: -12px;
        margin-top: 15px;
        z-index: 1;
        margin-top: 15px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
        width: 204px;
        height: 367px;
    }

    .gamburger_drop_logo {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .gamburger_drop_link {
        color: black;
    }

    .gamburgmenu_drop .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-bottom: 1px white solid;
    }

    .gamburgmenu_drop li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    /*Header end*/




    /*Section 1*/
    .main_section {
        height: 100%;
    }

    .mainimg {
        width: 303px;
        margin-top: 157px;
    }

    .mainwords {
        margin-top: 21px;
        padding-left: 0px;
        margin-bottom: 0px;
        display: block;
        width: 100%;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        line-height: 35px;
    }

    .slashslash::before {
        display: none;
        content: "/";
        font-size: 60px;
        margin-right: 60px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 59px;
        display: none;
    }

    .btndown {
        padding-bottom: 24px;
        /*69*/
        padding-top: 94px;
        /*83*/
        width: 46px;
        height: 71px;
        margin: 0 auto;
    }

    /*Section 1 end*/


    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        height: 1619px;
        background-color: #F6F6F6;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portfolio {
        width: 311px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 28px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 235px;
        height: 221px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 28px;
        /*90*/
        padding-top: 40px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
        margin-top: -3px;
    }

    .show_more_link {
        line-height: 13px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 16px;
        font-size: 13px;
        text-align: center;
        display: initial;
        border-bottom: 1px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -20px;

    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 235px;
        height: 50px;
        background-color: #fff;
        position: absolute;
        display: block;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        line-height: 20px;
        color: black;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: black;
    }

    /*Section 3 end*/
}

@media (min-width:900px) and (max-width:1300px) {
    .link_without_enything {
        padding: 0px;
        margin: 0px;
    }

    .container_head {
        text-align: center;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        width: 80%;
        position: relative;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 40px;
        line-height: 49px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
        color: #000;
    }

    .textmontserrat {
        font-size: 14px;
        font-family: Montserrat;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: block;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31);
        z-index: 999;
    }

    .navigation {
        display: none;
        justify-content: right;
    }

    .header_right {
        width: 150px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        text-decoration: none;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        left: -50px;
        background-repeat: no-repeat;
    }

    .logo {
        width: 100px;
        margin-left: 23px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding: 40px 0 40px 0;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -35px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 35px;
        padding-right: 30px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
        width: 100px;
    }

    .drop-down-menu .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -30px;
        border-radius: 20px;
    }

    .drop-down-menu .el:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: table;
        width: 100%;
        justify-content: space-around;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburgmenu {
        position: relative;
        display: block;
        padding: 20px 0 20px 0;
        z-index: 100;
        order: 2;
    }

    .gamburgmenu:hover .navigation,
    .gamburgmenu img:hover .navigation,
    .gamburgmenu:hover .navigation .gamburgmenu_drop,
    .gamburgmenu img:hover .navigation .gamburgmenu_drop {
        display: block;
        width: 204px;
    }

    .gamburgmenu_drop {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(245, 204, 61, 1);
        left: -90px;
        top: -12px;
        margin-top: 15px;
        z-index: 1;
        margin-top: 15px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
        width: 204px;
        height: 367px;
    }

    .gamburger_drop_logo {
        font-size: 20px;
        color: white;
        font-weight: bold;
    }

    .gamburger_drop_link {
        color: black;
    }

    .gamburgmenu_drop .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-bottom: 1px white solid;
    }

    .gamburgmenu_drop li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    /*Header end*/



    /*Section 1*/
    .main_section {
        height: 100%;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainimg {
        width: 100%;
        padding-top: 20%;
        padding-bottom: 5%;
    }

    .mainwords {
        padding-left: 0px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
    }

    .slashslash::before {
        content: "/";
        font-size: 60px;
        margin-right: 60px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 59px;

    }

    .btndown {
        width: 88px;
        height: 136px;
        margin: 0 auto;
        padding-bottom: 40px;
    }

    /*Section 1 end*/

    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        padding-bottom: 80px;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .portfolio {
        width: 311px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding-bottom: 83px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 311px;
        height: 293px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 74px;
        /*90*/
        padding-top: 99px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
    }

    .show_more_link {
        margin-top: 43px;
        font-size: 36px;
        text-align: center;
        display: initial;
        text-decoration: none;
        border-bottom: 2px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -3px;
    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 311px;
        height: 50px;
        background-color: rgba(31, 31, 31, 0.5);
        position: absolute;
        display: none;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 31px;
        line-height: 31px;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }

    /*Section 3 end*/
}

@media all and (orientation: landscape) and (min-width: 1300px) {
    .container_head {
        text-align: center;
        display: flex;
        height: 100%;
        width: 1200px;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 1200px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 40px;
        line-height: 49px;
        font-weight: 700;
        margin: 0px 0px 0px;
        margin-block-start: auto;
        margin-block-end: auto;
        color: #000;
    }


    .textmontserrat {
        font-size: 25px;
        font-family: Montserrat;
    }



    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31, 0.6);
        z-index: 999;
    }

    .navigation {
        width: 958px;
        display: flex;
        justify-content: flex-end;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 90px;
        text-decoration: none;
        width: 1200px
    }

    .header_right {
        width: 100%;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
        order: 0;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
        height: 100%;
    }

    .logo {
        width: 152px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding-top: 30px;
        padding-bottom: 30px;
        padding-left: 3px;
        padding-right: 20px;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -55px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 30px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .drop-down-menu .el {
        padding: 12px 40px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-radius: 20px;
    }

    .drop-down-menu li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: flex;
        width: 848px;
        justify-content: flex-end;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburger_img {
        display: none;
    }

    .gamburger_drop_logo {
        display: none;
    }


    /*Header end*/




    /*Section 1*/
    .main_section {
        height: 100%;
        display: flex;
        justify-content: center;
    }

    .mainimg {
        width: 1190px;
        height: 277px;
        padding-top: 217px;
        padding-bottom: 34px;
    }

    .main_section_text {
        padding-top: 3px;
        padding-bottom: 29px;
        padding-left: 0px;
        margin: 0px;
        font-size: 30px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
    }

    .slashslash::before {
        content: "/";
        font-size: 60px;
        margin-right: 100px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 100px;
    }

    .btndown {
        padding-top: 0px;
        width: 88px;
        height: 136px;
        margin: auto;
        padding-bottom: 42px;
    }

    /*Section 1 end*/

    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        background-color: #FAFAFA;
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    .portfolio {
        width: 367px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding-bottom: 47px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 367px;
        height: 346px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 90px;
        padding-top: 79px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
        padding-bottom: 60px;
    }

    .show_more_link {
        margin-top: 44px;
        font-size: 36px;
        text-align: center;
        display: initial;
        text-decoration: none;
        border-bottom: 2px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -3px;
    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 100%;
        height: 60px;
        background-color: rgba(31, 31, 31, 0.5);
        position: absolute;
        display: none;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 700;
        margin-top: 7px;
        margin-bottom: 0px;
        font-size: 31px;
        line-height: 31px;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }

    /*Section 3 end*/
}