@import url('https://fonts.googleapis.com/css2?family=Montserrat:wght@400;700&family=MuseoModerno:wght@400;700&display=swap');

:root {
    --color-light: #F5CC3D;
    --name-font-size: 28px;
    --who-font-size: 27px;
    --font-family: Montserrat;
}

html{
    scroll-behavior: smooth;
}
#svgcolorfill {
    fill: var(--color-light);
}

#svgcolorstroke {
    stroke: var(--color-light);
    stroke-width: 3px;
}

.link_without_enything {
    padding: 0px;
    margin: 0px;
}

body {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    width: 100vw;
}

@media (max-width:900px) {
    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }

    a:active {
        color: var(--color-light)
    }

    .link_without_enything {
        padding: 0px;
        margin: 0px;
    }

    .whiteinmobile{
        color:#fff;
    }
    .container_head {
        text-align: center;
        display: flex;
        max-width: 100%;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 1200px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 20px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
        color: #000;
    }



    .textmodern {
        font-size: 20px;
        text-align: center;
        font-family: 'MuseoModerno';
        letter-spacing: -0.01em;
    }

    .textmontserrat {
        font-size: 14px;
        font-family: Montserrat;
    }

    .whitetext {
        color: white;
        text-decoration: none;
    }

    .row_technology {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    .row {
        display: flex;
        flex-direction: column;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: block;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31);
        z-index: 999;
    }

    .navigation {
        width: 935px;
        display: none;
        justify-content: right;
        order: 10;
    }

    .header_right {

        width: 118px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 53px;
        text-decoration: none;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        left: -50px;
        background-repeat: no-repeat;
    }

    .logo {
        width: 76px;
        margin-left: 23px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding: 20px 0 20px 0;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -55px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 15px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .drop-down-menu .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-radius: 20px;
    }

    .drop-down-menu li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: flex;
        width: 848px;
        justify-content: space-around;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburgmenu {
        display: block;
    }

    .gamburgmenu:hover .navigation {
        display: block;
    }


    /*Header end*/




    /*Section 1*/
    .main_section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainimg {
        width: 303px;
        margin-top: 150px;
    }

    .mainwords {
        margin-top: 21px;
        /*165*/
        padding-left: 0px;
        margin-bottom: 0px;
        display: block;
        width: 100%;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        line-height: 35px;
    }

    .slashslash::before {
        display: none;
        content: "/";
        font-size: 60px;
        margin-right: 60px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 59px;
        display: none;
    }

    .btndown {
        padding-bottom: 0px;
        /*69*/
        padding-top: 96px;
        /*83*/
        width: 46px;
        height: 71px;
        margin: 0 auto;
    }

    /*Section 1 end*/




    /*Section 2*/
    .technology-item {
        height: 60px;
        width: 70px;
        justify-content: center;
        align-items: baseline;
        display: flex;
        font-size: 12px;
        font-family: 'Montserrat';
        font-weight: 400;
        margin-left: 7px;
        margin-right: 7px;
    }

    .technology-cell {
        text-align: center;
        width: 70px;
        height: 53px;
        display: flex;
        flex-direction: column;
        align-items: center;

    }

    .technology {
        border-radius: 150px;
        margin-bottom: 2px;
        width: 36px;
        height: 36px;
        position: relative;

    }

    .figure {
        width: 36px;
        height: 36px;
    }

    .technology_section {
        margin-top: 0px;
        height: 206px;
        background-color: #1F1F1F;
        color: #fff;
    }

    .technology_header {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 41px;
        padding-bottom: 35px;
        color: white;
    }

    .technology_p {
        margin-top: 7px;
        margin-bottom: 0px;
    }


    .row_technology {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    /*Section 2 end*/




    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        height: 1619px;
        background-color: #F6F6F6;
    }

    .portfolio {
        width: 311px;
        justify-content: center;
        align-items: center;
        display: flex;
        padding-bottom: 28px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 235px;
        height: 221px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 28px;
        /*90*/
        padding-top: 40px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
    }

    .show_more_link {
        line-height: 13px;
        margin-top: 0px;
        padding-top: 0px;
        padding-bottom: 16px;
        font-size: 13px;
        text-align: center;
        display: initial;
        border-bottom: 1px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -20px;

    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 235px;
        height: 50px;
        background-color: #fff;
        position: absolute;
        display: block;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 400;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 20px;
        line-height: 20px;
        color: black;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 14px;
        line-height: 14px;
        color: black;
    }

    /*Section 3 end*/




    /*Section 4 */
    .row_team {
        display: flex;
        justify-content: space-around;
        align-content: center;
        flex-wrap: wrap;
        height: 385;
    }

    .team_header {
        color: white;
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 40px;
        padding-bottom: 29px;
    }

    .team_section {
        height: 478px;
        background-color: #1F1F1F;
    }

    .cellteam {
        height: 148px;
        justify-content: center;
        display: flex;
        width: 77px;
        align-items: center;
        min-width: 34%;
        margin-bottom: 51px;
        text-align: center;
    }

    .teammember {
        max-width: 100%;
        margin-top: 23px;
        text-align: center;
    }

    .circle {
        width: 77px;
        height: 77px;
        background-color: var(--color-light);
        border-radius: 150px;
    }

    .name {
        margin-top: 9px;
        margin-bottom: 0px;
        font-family: var(--font-family);
        font-size: 16px;
        color: white;
    }

    .whoiam {
        margin-top: 22px;
        font-size: 16px;
        color: white;
        font-family: var(--font-family);
    }

    /*Section 4 end*/

    /*Section 5*/
    .map_section {
        height: 478px;
        background-color: black;
        background-image: url(/img/map.png);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mark {
        position: relative;
        display: flex;
    }

    .mark:hover .contact {
        display: block;
    }

    .contact {
        display: none;
        position: absolute;
        margin-top: -258px;
    }

    /*Section 5 end*/
}

@media (min-width:900px) and (max-width:1300px){


    body {
        padding: 0;
        margin: 0;
        box-sizing: border-box;
    }

    a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }

    a:active {
        color: var(--color-light)
    }

    .link_without_enything {
        padding: 0px;
        margin: 0px;
    }

    .container_head {
        text-align: center;
        display: flex;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
        height: 85%;
        width: 80%;
        position: relative;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 90%;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 60px;
        font-weight: 700;
        margin: 0px 0px 0px 0px;
        color: #000;
    }



    .textmodern {
        font-size: 25px;
        text-align: center;
        font-family: 'MuseoModerno';
        letter-spacing: -0.01em;
    }

    .textmontserrat {
        font-size: 14px;
        font-family: Montserrat;
    }

    .whitetext {
        color: white;
        text-decoration: none;
    }

    .row_technology {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    .row {
        display: flex;
        flex-direction: row;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: block;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31);
        z-index: 999;
    }

    .navigation {
        width: 935px;
        display: none;
        justify-content: right;
    }

    .header_right {

        width: 118px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: space-between;
        height: 80px;
        text-decoration: none;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        left: -50px;
        background-repeat: no-repeat;
    }

    .logo {
        width: 100px;
        margin-left: 23px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding: 20px 0 20px 0;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -55px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 15px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .drop-down-menu .el {
        right: 0px;
        padding: 12px 15px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-radius: 20px;
    }

    .drop-down-menu li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: flex;
        width: 848px;
        justify-content: space-around;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburgmenu {
        display: block;
    }

    .gamburgmenu:hover .navigation {
        display: block;
    }
    /*Header end*/


        
    /*Section 1*/
    .main_section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items:center;
    }

    .mainimg {
        width: 100%;
        padding-top: 10%;
        padding-bottom: 5%;
    }

    .mainwords {
        padding-left: 0px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        padding-left: 16px;
    }

    .slashslash::before {
        content: "/";
        font-size: 60px;
        margin-right: 60px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 59px;

    }

    .btndown {
        width: 88px;
        height: 136px;
        margin: 0 auto;
    }

    /*Section 1 end*/




    /*Section 2*/
    .technology-item {
        height: 250px;
        justify-content: center;
        align-items: baseline;
        display: flex;
        font-size: 26px;
        font-family: 'Montserrat';
        font-weight: 400;
        margin-left: -82px;
        margin-right: -82px;
    }

    .technology-cell {
        max-width: 100%;
        text-align: center;
    }

    .technology {
        border-radius: 150px;
        margin-bottom: 30px;
    }

    .technology_section {
        margin-top: 0px;
        height: 945px;
    }

    .technology_header {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 215px;
        padding-bottom: 153px;
    }

    .technology_p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .figure{
        width: 110px;
        height: 110px;
    }
    .row_technology {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    /*Section 2 end*/




    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        padding-bottom: 80px;
        background-color: #FAFAFA;
    }

    .portfolio {
        width: 311px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding-bottom: 83px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 311px;
        height: 293px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 74px;
        /*90*/
        padding-top: 99px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
    }

    .show_more_link {
        margin-top: 43px;
        font-size: 36px;
        text-align: center;
        display: initial;
        border-bottom: 1px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -20px;
    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 311px;
        height: 50px;
        background-color: rgba(31, 31, 31, 0.5);
        position: absolute;
        display: none;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 31px;
        line-height: 31px;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }

    /*Section 3 end*/



        /*Section 4 */
        .team_header {
            margin-top: 0px;
            margin-bottom: 0px;
            padding-top: 162px;
            padding-bottom: 64px;
        }
    
        .team_section {
            height: 869px;
        }
    
        .cellteam {
            height: 400px;
            justify-content: center;
            align-items: baseline;
            display: flex;
            width: 200px;
        }
    
        .teammember {
            max-width: 100%;
            margin-top: 23px;
            text-align: center;
        }
    
        .circle {
            width: 202px;
            height: 202px;
            background-color: var(--color-light);
            border-radius: 150px;
        }
    
        .name {
            margin-top: 15px;
            margin-bottom: 0px;
            font-family: var(--font-family);
            font-size: var(--name-font-size);
    
        }
    
        .whoiam {
            margin-top: 24px;
            font-size: var(--who-font-size);
            font-family: var(--font-family);
    
        }
    
        .row_team {
            display: flex;
            justify-content: space-between;
            align-content: center;
            overflow: hidden;
        }
    
        /*Section 4 end*/


        /*Section 5*/
        .map_section {
            height: 1080px;
            background-color: black;
            background-image: url(/img/map.png);
            display: flex;
            justify-content: center;
            align-items: center;
            background-size: cover;
            background-position: center;
            background-repeat: no-repeat;
        }
    
        .mark {
            position: relative;
            display: flex;
        }
    
        .mark:hover .contact {
            display: block;
        }
    
        .contact {
            display: none;
            position: absolute;
            margin-top: -258px;
        }
    
        /*Section 5 end*/
}

@media all and (orientation: landscape) and (min-width: 1300px) {
    a {
        color: #fff;
        text-decoration: none;
        padding: 20px;
    }

    a:hover {
        color: var(--color-light)
    }



    .container_head {
        text-align: center;
        display: flex;
        height: 100vh;
        width: 1300px;
        margin: 0 auto;
        flex-direction: column;
        justify-content: center;
    }

    .container {
        text-align: center;
        display: block;
        max-width: 1185px;
        margin: 0 auto;
    }

    h2 {
        text-align: center;
        font-family: Montserrat;
        font-size: 72px;
        font-weight: 700;
        margin: 0px 0px 0px;
        margin-block-start: auto;
        margin-block-end: auto;
        color: #000;
    }



    .textmodern {
        font-size: 36px;
        text-align: center;
        font-family: 'MuseoModerno';
        letter-spacing: -0.01em;
    }

    .textmontserrat {
        font-size: 25px;
        font-family: Montserrat;
    }

    .whitetext {
        color: white;
        text-decoration: none;
    }

    .row {
        display: flex;
        flex-wrap: wrap;
        justify-content: space-between;
        align-content: center;
    }

    /*Header*/
    .header {
        display: flex;
        justify-content: center;
        position: fixed;
        top: 0;
        width: 100vw;
        background: rgba(31, 31, 31, 0.6);
        z-index: 999;
    }

    .navigation {
        width: 962px;
        display: flex;
        justify-content: flex-end;
    }

    .header-wrapper {
        display: flex;
        align-items: center;
        justify-content: flex-start;
        height: 110px;
        text-decoration: none;
        width: 1200px
    }

    .header_right {

        width: 75px;
        display: flex;
        align-items: center;
        justify-content: space-evenly;
    }

    .background {
        background-image: url(../img/background.jpg), linear-gradient(45deg, rgba(0, 0, 0, 0.75), rgba(0, 0, 0, 0.75));
        background-blend-mode: darken;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .logo {
        width: 152px;
    }

    .dropdown {
        position: relative;
        display: inline;
        padding: 60px 0 60px 0;
    }

    .drop-down-menu {
        display: none;
        position: absolute;
        padding-top: 15px;
        background-color: rgba(31, 31, 31, 0.6);
        left: -55px;
        margin-top: 15px;
        border-radius: 20px;
        z-index: 1;
        margin-top: 55px;
        padding-right: 50px;
        margin-right: 0px;
        padding-top: 0px;
        padding-left: 0px;
    }

    .drop-down-menu .el {
        padding: 12px 40px;
        margin-right: 0px;
        display: block;
        margin-right: -50px;
        border-radius: 20px;
    }

    .drop-down-menu li:hover {
        background-color: rgba(12, 12, 12, 0.6);
        color: var(--color-light)
    }

    .dropdown:hover .drop-down-menu {
        display: block;
        transition: display 1000s;
    }

    .hr {
        margin: 0;
        padding-left: 0px;
        display: flex;
        width: 848px;
        justify-content: space-around;
    }

    .hr .el {
        display: flex;
        justify-content: center;
        min-width: 85px;
    }

    .hr .el:hover {
        color: var(--color-light);
    }

    .gamburgmenu {
        display: none;
    }

    /*Header end*/




    /*Section 1*/
    .main_section {
        height: 100vh;
        display: flex;
        justify-content: center;
        align-items: center;
    }

    .mainimg {
        max-width: 1190px;
        max-height: 277px;
        margin-top: 25%;
    }

    .mainwords {
        margin-top: 10%;
        /*165*/
        padding-left: 0px;
        margin-bottom: 0px;
        display: flex;
        justify-content: space-between;
        width: 100%;
    }

    .mainwords .el {
        display: flex;
        justify-content: center;
        align-items: center;
        font-style: normal;
        font-weight: normal;
        padding-left: 16px;
    }

    .slashslash::before {
        content: "/";
        font-size: 60px;
        margin-right: 60px;
    }

    .slashslash::after {
        content: "/";
        font-size: 60px;
        margin-left: 59px;

    }

    .btndown {
        padding-bottom: 0px;
        /*69*/

        /*83*/
        width: 88px;
        height: 147px;
        margin: auto;
    }

    /*Section 1 end*/




    /*Section 2*/
    .technology-item {
        height: 250px;
        justify-content: center;
        align-items: baseline;
        display: flex;
        font-size: 36px;
        font-family: 'Montserrat';
        font-weight: 400;
        margin-left: -82px;
        margin-right: -82px;
    }

    .technology-cell {
        max-width: 100%;
        text-align: center;
    }

    .technology {
        border-radius: 150px;
        margin-bottom: 30px;
    }

    .technology_section {
        margin-top: 0px;
        height: 945px;
    }

    .technology_header {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 215px;
        padding-bottom: 153px;
    }

    .technology_p {
        margin-top: 0px;
        margin-bottom: 0px;
    }
    .figure{
        width: 150px;
        height: 150px;
    }
    .row_technology {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    /*Section 2 end*/




    /*Section 3*/
    .portfolio_section {
        margin-top: 0px;
        height: 1173px;
        background-color: #FAFAFA;
    }

    .portfolio {
        width: 311px;
        justify-content: space-between;
        align-items: center;
        display: flex;
        padding-bottom: 83px;
    }

    .portfoliowork {
        max-width: 100%;
        text-align: center;
    }

    .square {
        width: 311px;
        height: 293px;
        background-color: var(--color-light);
        display: flex;
        align-items: end;
        position: relative;
    }

    .portfolio_header {
        margin-bottom: 74px;
        /*90*/
        padding-top: 99px;
    }

    .show_more_row {
        display: flex;
        justify-content: center;
    }

    .show_more_link {
        margin-top: 43px;
        font-size: 36px;
        text-align: center;
        display: initial;
        border-bottom: 1px var(--color-light) solid;
        color: #000;
    }

    .underline_show_more_btn {
        margin-top: 0px;
        margin-bottom: -20px;
    }

    .portfolio:hover .portfolio_info {
        display: block;
    }

    .portfolio_info {
        width: 311px;
        height: 50px;
        background-color: rgba(31, 31, 31, 0.5);
        position: absolute;
        display: none;
        bottom: 0;
    }

    .portfolio_name {
        font-weight: 700;
        margin-top: 0px;
        margin-bottom: 0px;
        font-size: 31px;
        line-height: 31px;
    }

    .portfolio_date {
        margin-bottom: 6px;
        margin-top: 0px;
        font-weight: 300;
        font-size: 16px;
        line-height: 16px;
    }

    /*Section 3 end*/




    /*Section 4 */
    .team_header {
        margin-top: 0px;
        margin-bottom: 0px;
        padding-top: 162px;
        padding-bottom: 64px;
    }

    .team_section {
        height: 869px;
    }

    .cellteam {
        height: 400px;
        justify-content: center;
        align-items: baseline;
        display: flex;
        width: 200px;
    }

    .teammember {
        max-width: 100%;
        margin-top: 23px;
        text-align: center;
    }

    .circle {
        width: 202px;
        height: 202px;
        background-color: var(--color-light);
        border-radius: 150px;
    }

    .name {
        margin-top: 15px;
        margin-bottom: 0px;
        font-family: var(--font-family);
        font-size: var(--name-font-size);

    }

    .whoiam {
        margin-top: 24px;
        font-size: var(--who-font-size);
        font-family: var(--font-family);

    }

    .row_team {
        display: flex;
        justify-content: space-between;
        align-content: center;
        overflow: hidden;
    }

    /*Section 4 end*/

    /*Section 5*/
    .map_section {
        height: 1080px;
        background-color: black;
        background-image: url(/img/map.png);
        display: flex;
        justify-content: center;
        align-items: center;
        background-size: cover;
        background-position: center;
        background-repeat: no-repeat;
    }

    .mark {
        position: relative;
        display: flex;
    }

    .mark:hover .contact {
        display: block;
    }

    .contact {
        display: none;
        position: absolute;
        margin-top: -258px;
    }

    /*Section 5 end*/
}

@media (max-height:500px){
    .btndown{
        padding-top: 0px;
    }
    .mainimg{
        margin-top: 85px;
    }
}